# Manipulating Data

You can manipulate data with help of different methods, some of the things you can do are:
* Change text
* Perform math operations
* Sort data

In [1]:
# TODOs
# Sum example
# Average Example
# Substitute text
# Remove Duplicate Rows
# Split Column by delimiter
# Sort Data
# Filter data

## How to SUM columns in Pandas
Adding up columns in pandas is easy, just use the .sum() method.

In [2]:
import pandas as pd

data = [['Jose',10, 'Watch anime'],['Josefina',15, "Build models"],['Joseph',12, 'Dancing'],['Jotaro',13, 'Play Videogames'], ['Joseline',16, 'Running'],['Jorge', 14, 'Play with animals']]
df = pd.DataFrame(data,columns=['Name','Age','Favorite Hobby'])
print(df)

       Name  Age     Favorite Hobby
0      Jose   10        Watch anime
1  Josefina   15       Build models
2    Joseph   12            Dancing
3    Jotaro   13    Play Videogames
4  Joseline   16            Running
5     Jorge   14  Play with animals

In [10]:
jojos_total_years_sum = df['Age'].sum()
print(f'The total years sum is {jojos_total_years_sum:.2f}')

The total years sum is 80.00

## Mean
We use the mean() method, this is sorta becoming repetitive.

In [11]:
jojos_age_mean = df['Age'].mean()
print(f'The average age of these JoJo\'s is: {jojos_age_mean:.2f}')

The average age of these JoJo's is: 13.33